<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table class="table">
    <thead *ngIf="dataLoaded==true">
        <tr>
            <th>Id</th>
            <th>Brand Id</th>
            <th>Color Id</th>
            <th>Car Name</th>
            <th>Model Year</th>
            <th>Daily Price</th>
            <th>Description</th>
        </tr>
    </thead>
    <tr class="clickable" routerLink="/cars/{{car.id}}" *ngFor="let car of cars">
        <td>{{car.id}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.carName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.description}}</td>
    </tr>
</table>
